html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  background: blue;
  flex-direction: column;
  gap: 15px;
  align-items:center;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

form {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  align-self: center;
  background: red;
}

form input[type=submit] {
  padding: 15px;
}
